body {
    background-color: #f4f4f4;
    text-align: center;
    padding: 20px;
    margin: 0;
}

.container {
    display: grid;
    grid-template-areas: 
        "nav"
        "image"
        "about"
        "education"
        "papers"
        "hobbies"
        "articles"
        "footer";
    max-width: 1200px;
    margin: 0 auto;
    background-color: #523f3f;
    padding: 20px;
    grid-gap: 20px;
}

#about:target, #papers:target, #hobbies:target, #education:target, #articles:target, #famous-quotes:target{
    background-color: #a88d8d;
}

.nav-bar {
    grid-area: nav;
    background-color: #be8418;
    padding: 15px;
    position: relative;
}

.nav-bar a {
    color: #ffffff;
    padding: 12px;
    text-decoration: none;
    display: inline-block;
}

.nav-bar a:hover {
    background-color: #474f55;
}

#about-section {
    display: grid;
    grid-template-areas: "image about";
    grid-template-columns: 1fr 2fr;
    gap: 20px;
    align-items: center;
    background-color: antiquewhite;
}

#image img {
    width: 200px;
    height: 200px;
}

.grid-section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.grid-item {
    background-color: antiquewhite;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
}

.grid-item h5 {
    margin-top: 10px;
    font-size: 1.1em;
    color: #2c3e50;
}

footer#famous-quotes {
    grid-area: footer;
    background-color: #be8418;
    padding: 20px;
    color: #ffffff;
}

.quotes {
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
}

.quote-item {
    background-color: #ecf0f1;
    color: #2c3e50;
    padding: 15px;
    border-radius: 10px;
    font-style: italic;
}

.quote-item p {
    margin: 0;
    font-size: 1.2em;
}
.nav-bar .nav-icon{
    display: none;
}

@media screen and (max-width: 500px) {
    #navbar {
        grid-template-columns: auto;  
        grid-template-rows: auto;
    }
    
    #navbar .nav-icon {
        display: block; 
    }
  
    #navbar a:not(.nav-icon) {
        display: none;
    }

    #navbar.responsive a {
        display: block; 
    }
}